body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: Microsoft Yahei;
}
.w{
	width: 1200px;
	margin: auto;
}

.qqlogo{
	margin-top: 15px;
	margin-bottom: 15px;
}

.title-songRecom,.title-songlist{
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 10px;
}
.tag-list{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
.tag-item {
  display: inline-block;
  padding: 0 8px;
  margin-right: 24px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}
.tag-item:hover{
	color:rgb(49,194,124) ;
}
.tag-active {
  color: rgb(49,194,124);
}
.recom-list{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}
.recom-album{
	margin: 15px;
}
.cover{
	position: relative;
	margin-bottom: 10px;
}
.cover-img {
  width: 100%;
  transition: all 0.75s;
  border-radius: 5%;
}
.cover-play{
	position: absolute;
	left: 35%;
	top: 35%;
	opacity: 0;
}
.cover:hover .cover-play{
	opacity: 1;
}
.cover:hover .cover-img{
	transform: scale(1.05);
	opacity: 0.7;
}
.song-title{
	color: black;
	font-size: 13px;
	text-decoration: none;
}
.song-listen-num{
	color: gray;
	font-size: 12px;
}
.song-title:hover {
	color: rgb(49,194,124);
}

.songlist{
	padding-bottom: 20px;
}
.title-songlist{
	padding-top: 50px;
	border-top: 1px solid gray;
}
.tag-add{
	position: relative;
}
.listen-all{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px;
	color: #000000;
}
.tag-listen{
	color: #000000;
}
.tag-listen:hover{
	color:rgb(49,194,124) ;
}
 .song-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.song{
	display: flex;
	justify-content: space-between;
	width: 390px;
	height: 90px;
	margin-top: 20px;
}
.cover-song{
	position: relative;
} 
.cover-play-song{
	position: absolute;
	left: 10%;
	top: 10%;
	transform: scale(0.5);
	opacity: 0;
}
.cover-song:hover .cover-play-song{
	opacity: 1;
}
.cover-song:hover .cover-song-img{
	transform: scale(1.05);
	opacity: 0.7;
}
.song-name{
	flex: 1;
	margin: 15px;
}
.song-title-new{
	color: black;
	font-size: 17px;
	text-decoration: none;
}
.song-title-new:hover {
	color: rgb(49,194,124);
}
.song-singer-new,.song-time{
	color: gray;
	font-size: 15px;
	text-decoration: none;
}
.song-time{
	margin-top: 30px;
}

.mvlist{
	margin-top: 30px;
	margin-bottom: 50px;
	border-top: 2px solid gray;
}
.mv-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.mv{
	margin: 0;
	margin-bottom: 40px;
	width: 280px;
	height: 210px;
}
.mv-name{
	margin: 0;
	margin-left: 15px;
}
.mv-listen-num{
	padding-left: 15px;
}
